body {
    font: 300 1em 'Helvetica Neue';
    margin: 0;
    padding: 0;

}

input{
    font: 300 1em 'Helvetica Neue';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    background-color: transparent;
}

button{
    font: 300 1em 'Helvetica Neue';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    cursor: pointer;
    margin: 1em;
    background-color: #eee;
}

span {
    display: block;
}

div.comment {
    margin: 1em;
    background-color: #eee;
    padding: 0.5em;
}